# Git
.git
.gitignore

# Documentation
docs
*.md
LICENSE

# Tests
tests
.phpunit.cache
.phpunit.result.cache
phpunit.xml

# Docker
Dockerfile*
docker-compose.yml
.dockerignore

# Build artifacts
build
vendor

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db
